<%- include("header") -%> 
<%- include("navbar2") -%> 
    <% if(SearchFailure.length>0){ %>
        <div class="alert alert-danger"><%=SearchFailure%></div>
    <% } %>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="Card image cap"> -->
            <img class="card-img-top" src="https://img.freepik.com/free-vector/profiling-concept-illustration_114360-5774.jpg?w=740&t=st=1669314101~exp=1669314701~hmac=72299cf26d3d13c14da841b837c54b9012ff5e14d6dc96cf707adb3a2625f2b8" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">CheckCustomerDetails</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/aCheckCustomer" class="btn btn-primary">Submit</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="Card image cap"> -->
            <img class="card-img-top" src="https://img.freepik.com/free-vector/bank-branch-isometric-flowchart_1284-65919.jpg?w=740&t=st=1669268951~exp=1669269551~hmac=7300bda410cd7d24d36350f0141bf70335ca220f5f6a07731905f6ca4b56472c" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">CheckAllBranchDetails</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/aCheckbranch" class="btn btn-primary">Submit</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="Card image cap"> -->
            <img class="card-img-top" src="https://img.freepik.com/free-vector/paper-map-concept-illustration_114360-2203.jpg?w=740&t=st=1669269109~exp=1669269709~hmac=3bd5562fbbf7343ecf685e72332ec1e7fd0bc6bc589e99be15a92376f6058760" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Change The Address of the User</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/addressChange" class="btn btn-primary">Submit</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="Card image cap"> -->
            <img class="card-img-top" src="https://img.freepik.com/free-vector/cloud-computing-security-abstract-concept-illustration_335657-2105.jpg?w=740&t=st=1669297649~exp=1669298249~hmac=119dcb211a38298eff55cf3ab09e2bb3d2c7a8a9ad593067174e4a88998477e8" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Change The Permission of Cheque</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/checkChange" class="btn btn-primary">Submit</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="Card image cap"> -->
            <img class="card-img-top" style="padding-bottom: 2rem; padding-top: 2rem;" src="https://img.freepik.com/free-vector/people-with-cheque-pen_53876-64622.jpg?w=996&t=st=1669274582~exp=1669275182~hmac=1e6040edff31ab48e99716a28711f8ae43e614aeafdb28b02cde79a13c0b3114" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Transaction Details</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/transactionAdmin" class="btn btn-primary">Submit</a>
            </div>
          </div>
        </div>
    

<%- include("footer") -%> 