<nav class="navbar c-navbar navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand c-navText nav-item" style="font-size: 3rem;">BANK MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item c-nav">
          <a class="nav-link c-navText nav-item" aria-current="page" style="font-size: 2rem; " href="/customerhome"><i class="fa-solid fa-house-user"></i>Home</a>
        </li>
        <li class="nav-item c-nav">
          <a class="nav-link c-navText nav-item" href="#" style="font-size: 2rem;" ><i class="fa-solid fa-address-card"></i> About</a>
        </li>
        <li class="nav-item c-nav">
          <a class="nav-link c-navText nav-item" href="#"style="font-size: 2rem;" ><i class="fa-solid fa-address-book"></i> Contact</a>
        </li>
        <li class="nav-item c-nav">
          <a class="nav-link c-navText nav-item" href="/profile"style="font-size: 2rem;" ><i class="fa-solid fa-user"></i> Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




